# No subiremos los checkpoints, que son ficheros que no son del proyecto, propiamente hablando
.ipynb_checkpoints/
*.ipynb_checkpoints/
*-checkpoint.*
Bloque 2 - Data_Analyst/04_Visualización/03_Seaborn/02_OLD_RESU_EDA Seaborn.ipynb
